.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 66px;
  background-color: $form_background;
  border-radius: 32px;
  height: 834px;
  width: 488px;
  direction: rtl;
  padding: 40px;
  color: white;
  &__heading {
    margin-top: 24px;
    font-family: 'Noto Sans Arabic SemCond Med';
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
  }
  &__advice {
    margin-top: 30px;
    line-height: 20px;
    font-family: 'Noto Sans Arabic SemCond';
    letter-spacing: 0.25px;
  }
  form {
    position: relative;
    width: 100%;
    label {
      position: relative;
      margin-top: 30px;
      // top: 60px;
      text-align: start;
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      input[type='checkbox'] {
        // text-align: start;
        // direction: rtl;
        display: none;
        &:checked {
          + .form__styled-checkbox:before {
            opacity: 1;
          }
        }
      }
      input[type='text'] {
        color: white;
        width: 100%;
        height: 56px;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: $input_background;
        &::placeholder {
          padding: 0 10px;
          line-height: 56px;
          color: $input_text;
        }
        &:focus {
          color: white;
          padding: 0 10px;
          line-height: 56px;
        }
      }
    }
    button {
      margin-top: 20px;
      width: 100%;
      height: 80px;
      border-radius: 50px;
      color: $button_text;
      font-size: 32px;
      background: linear-gradient(
          89.18deg,
          #ffdc25 0.14%,
          rgba(255, 138, 0, 0.73) 99.29%
        ),
        #ffd90f;
    }
  }
  &__permission-text {
    display: block;
    margin-top: 20px;
  }

  &__styled-checkbox {
    position: relative;
    display: inline-block;
    background-color: #ffc800;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    &::before {
      content: url('../images/mark.svg');
      position: absolute;
      display: block;
      top: -10px;
      left: 4px;
      opacity: 0;
      transition: 0.2s;
    }
  }
}
