.images {
  position: relative;
  &--mobile {
    z-index: 1;
    position: relative;
    top: 150px;
    right: 24px;
  }
  &--girl2 {
    position: absolute;
    z-index: 2;
    left: 40px;
    top: -10px;
  }
  &--girl1 {
    position: absolute;
    z-index: 3;
    left: 288px;
    top: 60px;
  }
  &--coloredDots1 {
    position: absolute;
    z-index: 4;
    left: 0;
    top: 354px;
  }
  &--coloredDots2 {
    position: absolute;
    z-index: 2;
    left: 544px;
    top: 574px;
  }
}

.animated {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-25px);
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}