@font-face {
  font-family: "Noto Sans Arabic SemCond Bold";
  src: url('../../fonts/NotoSansArabic-SemiCondensedBold.ttf') format("opentype");
  font-style: normal;
  font-weight: bold;
}


@font-face {
  font-family: "Noto Sans Arabic SemCond";
  src: url('../../fonts/NotoSansArabic-SemiCondensed.ttf') format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Noto Sans Arabic SemCond Med";
  src: url('../../fonts/NotoSansArabic-SemiCondensedMedium.ttf');
  font-style: normal;
  font-weight: 500;
}